/* .posts-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.loadMoreBtn{
    background-color: rgb(13, 144, 252);
    color: white;
    text-align: center;
    width: 170px;
    font-size: 18px;
    padding: 5px;
    border-radius:14px ;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 2rem;
}

@media screen and (max-width: 400px){
    .posts-grid{
        margin-top: 0;
    }
} */

.posts-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 3rem 0;

}

@media screen and (max-width: 1024px){
    .posts-grid{
       display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    }

    .posts-grid div{
    
    }
}