.home-container{
    /* background-color: rgb(211, 241, 250); */
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .home-container{
        flex-direction: column;
    }
}