.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    background-color: whitesmoke;

}

.signIn-input{
    margin-bottom: 10px;
}

.gLogin{
    display: flex;
    gap: 10px;
    margin: 1rem 0;
}