.commentForm{
    padding: 10px;
    width: 100%;
    margin:10px 0;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid gray;
}

.btn{
    padding: 5px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    border: none;
}