.oglasContainerLi{
    margin: 5px 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-link{
    font-size: 14px;
    margin-right: 1rem;
}

.ogl{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.active{
    display: none;
    visibility: hidden;
}

.oglasContainer{
    width: 700px;
    -webkit-box-shadow: 7px 7px 16px 2px rgba(0,0,0,0.11);
    -moz-box-shadow: 7px 7px 16px 2px rgba(0,0,0,0.11);
    box-shadow: 7px 7px 16px 2px rgba(0,0,0,0.11);
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex: 5;
    list-style: none;
    font-size: 18px;
    transition: 0.s;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.oglasContainer:hover{
    -webkit-box-shadow: 7px 7px 16px 2px rgba(28, 67, 92, 0.24);
    -moz-box-shadow: 7px 7px 16px 2px rgba(28, 67, 92, 0.24);
    box-shadow: 7px 7px 16px 2px rgba(28, 67, 92, 0.24);
    transition: .3s;
}

.oglasImgContainer{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    flex: 1;
}

.oglasImg{
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    display:block;
    object-fit:cover;
}

.oglasMainContent{
    color: black;
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
    margin: 1rem;
    margin-bottom: 0;
    margin-right: 0;
}

.mainContentFlex1{
    text-decoration: none;
    list-style: none;
}

.nameAndPhone{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 4px solid skyblue;
    border-radius: 3px;
}

.oglasiBtn{
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
}

.oglasiBtn a{
    padding: 7px 10px;

}

.brTelefona{
    margin-right: 16px;
}

.oglasName{
    font-size: 24px;

}

.oglasiH1{
    text-align: center;
    opacity: 80%;
}

.comments{
    align-self:baseline;
    width: 100%;
}

.deletePost{
    font-size: 22px;
    margin-left: 10px;    
}

.deletePostBtn{
    display: flex;
    flex-direction:row;
    border: 3px solid red;
    background-color: rgb(255, 231, 231);
    border-radius: 10px;
    padding: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.deletePostBtn:hover{
    background-color: rgb(251, 216, 216);
}
@media screen and (max-width: 752px){
    .oglasContainerLi{
        font-size: 16px;
        width: 100%;
    }

    .oglasContainer {
        width: 600px;
        height: auto;
    }

    .mainContentFlex2 p{
        font-size: 16px;
    }

    .deletePostBtn p{
        display: none;
    }

    .deletePost{
        margin: 0;
        padding: 0;

    }

}

@media screen and (max-width: 624px){
    .oglasContainerLi{
        width: 99%;
        margin: 0px;
    }
    .oglasContainer{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .ogl{
        width: 100%;
    }
  

    .oglasImg{

        max-height: 100%;
        height: 300px;
        width: 100%;
        border-radius: 10px;
        display:block;
        object-fit:cover;
    }

}

@media screen and (max-width: 402px){
    .oglasContainer{
        width: 100%;
        height: auto;
        margin-bottom: 4px;
       
    }
    .ogl{
        width: 100%;
    }
    .oglasImg{
        height: 250px;
    }
}