*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;

}

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

hr {
  height: 0;
  /* 1 */
  border-top-width: 1px;
  /* 3 */
}


body{
 font-family: sans-serif;


}

h2{
  text-align: center;
  color: rgb(8, 107, 139);
  margin-top: 1rem;
}

.hoverOpacity:hover{
  opacity: 0.8;

}

.hoverPop{
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.btn{
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}